{{>header}}

  <div class="row-fluid">
    <div class="span12">
      <h3 class="cufon">Unbekanntes Geheimnis</h3>

      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Das Geheimnis hat entweder nie existiert oder wurde bereits geöffnet.
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <a class="btn btn-large btn-block btn-custom cufon" href="/" class="">Erstelle ein neues Geheimnis</a>
    </div>
  </div>

{{>footer}}
